* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
	--orange: #FF7143;
	--blue: #5454d4;
}

body {
	font-family: 'Archivo', sans-serif;
	background-color: #ccc;
}