* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
	--orange: #FF7143;
	--blue: #5454d4;
	--background: #F9F8FE;
}

body {
	font-family: 'Archivo', sans-serif;
	font-size: 10px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
	overflow: hidden;
	padding: 60px 0;
}

.container--hero {
	padding: 0;
}

/* Menu section */
.nav {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__logo {
	width: 100px;
}

.nav__menu {
	background-color: var(--blue);
	width: 35px;
	cursor: pointer;
	z-index: 100;
	border-radius: 5px;
}

.nav__list {
	position: absolute;
	display: grid;
	place-content: center;
	list-style: none;
	background-color: var(--blue);
	text-align: center;
	gap: 2.5rem;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translate(-100%);
	transition: transform .4s;
}

.nav__list--show {
	transform: translate(0);
}

.nav__link {
	text-decoration: none;
	color: #fff;
	font-weight: 900;
}

.hero__main {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.hero__figure {
	order: -1;
	padding: 20px 0;
}

.hero__img {
	width: 100%;
	display: block;
	max-width: 400px;
	margin: 0 auto;
}

.hero__texts {
	display: grid;
	gap: 1.5rem;
	text-align: center;
	padding-bottom: 70px;
}

.hero__title {
	font-size: 3rem;
}

.hero__paragraph {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: .5rem;
}

.hero__cta {
	font-weight: 700;
	background-color: var(--blue);
	color: #fff;
	text-decoration: none;
	padding: 1rem 3rem;
	justify-self: center;
	border-radius: 6px;
}

/* About Section */
.about {
	background-color: var(--background);
}

.about__container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.about__image {
	display: block;
	margin: 0 auto;
	width: 90%;
	aspect-ratio: 1/1;
	max-width: 280px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
}

.about__texts {
	text-align: center;
	display: grid;
	gap: 1.5rem;
}

.about__subtitle {
	font-size: 2rem;
}

.about__paragraph {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 300;
}

/* Learn Section */
.learn__subtitle {
	font-size: 2rem;
	text-align: center;
}

.learn__articles { 
	margin-top: 3rem;
	display: grid;
	gap: 3rem;
}

.learn__article {
	margin: 0 auto;
	text-align: center;
	max-width: 500px;
	display: grid;
	gap: 1rem;
}

.learn__img {
	margin: 0 auto;
	width: 60%;
	display: block;
	max-width: 250px;
}

.learn__title {
	font-size: 1.5rem;
		color: var(--blue);
}

.learn__paragraph {
	font-size: 1rem;
}

/* Sponsor Section */
.sponsor {
	background-color: var(--background);
	text-align: center;
}

.sponsor__texts {
	display: grid;
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.sponsor__subtitle {
	font-size: 2rem;
}

.sponsor__paragraph {
	font-size: 1rem;
}

.sponsor__img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 280px;
}

.sponsor__cta {
	background-color: var(--blue);
	color: #fff;
	padding: 1rem 3rem;
	text-decoration: none;
	justify-self: center;
	text-align: center;
	border-radius: 6px;
	font-weight: 700;
}

/* Statistics Section */
.statistics {
	background-image: linear-gradient(#19181bc0, #171719e3), url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
}

.statistics__container {
	display: grid;
	gap: 2.5rem;
}

.statistics__item {
	width: 90%;
	margin: 0 auto;
	max-width: 400px;
}

.statistics__item .paragraph {
	font-size: 1rem;
}

.statistics__title {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.statistics__cta {
	font-size: 1.2rem;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	background-color: var(--orange);
	padding: 1rem 3rem;
	justify-self: center;
	text-align: center;
	border-radius: 6px;
}

/* Footer Section */
.footer {
	background-color: var(--background);
}

.footer__subtitle {
	text-align: center;
	font-size: 1.2rem;
}

.footer__contact {
	display: flex;
	justify-content: center;
	gap: 1rem;
	list-style: none;
	margin-top: 3rem;
}

.footer__link {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.footer__item:nth-of-type(1) {
	--color: #1da1f2;
}

.footer__item:nth-of-type(2) {
	--color: #c32aa3;
}

.footer__item:nth-of-type(3) {
	--color: #ff0000;
}

.footer__img {
	width: 28px;
}


/* Media Query Desktop */
@media (min-width: 769px) {

	/* Menu Section  */
	.nav__menu {
		display: none;
	}

	.nav__logo {
		width: 150px;
	}

	.nav__list {
		display: flex;
		position:static;
		padding: 0;
		list-style: none;
		background-color: transparent;
		gap: 2rem;
		transform: unset;
		transition: none;
	}

	.nav__list--show {
		transform: unset;
	}

	.nav__link {
		font-size: 16px;
		text-decoration: none;
		color: var(--blue);
		font-weight: 900;
	}

	/* Hero Main */
	.hero__main {
		flex-direction: row;
		gap: 40px;
		min-height: 550px;
		align-items: center;
	}

	.hero__figure {
		order: 0;
		padding: 0;
		width: 46%;
	}

	.hero__img {
		max-width: 450px;
	}

	.hero__texts {
		width: 54%;
		text-align: start;
		display: grid;
		gap: 2rem;
		padding-bottom: 0;
	}

	.hero__title {
		font-size: 3rem;
	}

	.hero__paragraph {
		margin-bottom: 0;
	}

	.hero__cta {
		justify-self: start;
		font-weight: 900;
	}


	/* About Section */
	.about__container {
		flex-direction: row;
	}

	.about__figure {
		width: 30%;
	}

	.about__image {
		width: 100%;
	}

	.about__texts {
		width: 70%;
		text-align: start;
		place-content: center;
	}

	.about__subtitle {
		text-align: inherit;
		font-size: 2.5rem;
	}

	.about__paragraph {
		font-size: 1rem;
	}

	/* Learn Section */
	.learn {
		text-align: center;
	}

	.learn__articles { 
		gap: 2rem;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}

	.learn__article {
		gap: 1.5rem;
	}

	.learn__img {
		margin: 0 auto;
		width: 60%;
		display: block;
		max-width: 250px;
	}

	.learn__title {
		font-size: 1.7rem;
		color: var(--blue);
	}

	.learn__paragraph {
		font-size: 1.2rem;
	}

	/* Sponsor Section */
	.sponsor {
		text-align: start;
	}

	.sponsor__main {
		display: flex;
		gap: 3rem;
		align-items: center;
	}

	.sponsor__texts {
		width: 55%;
		place-content: center;
	}

	.sponsor__subtitle {
		font-size: 2.5rem;
	}

	.sponsor__paragraph {
		font-size: 1rem;
	}

	.sponsor__figure {
		width: 45%;
	}

	.sponsor__img {
		max-width: 400px;
	}

	.sponsor__cta {
		justify-self: start;
	}

	/* Statistics Section */
	.statistics__title {
		font-size: 4.5rem;
		margin-bottom: 1rem;
	}

	/* Footer Section */
	.footer {
		text-align: center;
	}

	.footer__subtitle {
		font-size: 2rem;
	}

}